{% set title = name|replace({'-': ' '})|capitalize %}

<div>
  <label for="{{ name }}" class="text-sm text-zinc-400 block mb-1">
    {{ title }}
  </label>
  <textarea
    name="{{ name }}"
    id="{{ name }}"
    placeholder="{{ title }}"
    rows="4"
    class="p-2 w-full border-2 border-zinc-400 text-zinc-700 rounded-md resize-none"
  >{{ value }}</textarea>
</div>
