<article>
  <h2>{{ todo.title|e }}</h2>

  <a href="/todos/{{ todo.id }}/edit">Edit</a>

  <form action="/todos/{{ todo.id }}/destroy" method="post">
    <input type="hidden" name="csrf-token" value="{{ csrfToken }}" />
    <button type="submit">Delete</button>
  </form>

  <form action="/todos/{{ todo.id }}" method="post">
    {% include 'components/forms/csrf.twig' %}
    <input type="hidden" name="completed" value="{{ todo.completed ? 'false' : 'true' }}" />

    <button type="submit">
      {{ todo.completed ? 'Mark as undone' : 'Mark as done' }}
    </button>
  </form>

  {% if todo.body is not null %}
    <p>{{ todo.body|e }}</p>
  {% endif %}
</article>
